
.box1{
    background-color: blue;
}

.box2{
    background-color: red;
}

.box3{
    background-color: violet;
}

.box4{
    background-color: beige;
}

.box5{
    background-color: black;
}

.box6{
    background-color: chocolate;
}

.box7{
    background-color: darkgoldenrod;
}